body {
    font-family: Neusa;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;

    &:hover{
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Neusa;
    color: #ffffff;
}


h1, h2{
    margin-bottom: 15px;
    margin-top: 0;
    word-spacing: -10px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;

    span{
        -webkit-text-fill-color: transparent;
        background: linear-gradient(180deg,#f6921e,#d71921);
        -webkit-background-clip: text;
        background-clip: text;
    }
}


h2 {
    font-size: 80px;
    
    @media screen and (max-width: 480px) {

        font-size: 72px;
    }
}


p{
    font-size: 24px;
    line-height: 1.5;

    @media screen and (max-width: 480px) {

        font-size: 22px;
    }
}


.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #151514;
    z-index: 3;

    .logo {
        width: 50px;
        padding-top: 60px;

        img {
            width: 100%;
        }

    }

    .name{
        
        svg  {
            width: 64px;
            height: 260px;
            
            path {
                fill: none;
                stroke: #da571f;
                stroke-width: 8px;
            }
        }
        
    }

    .menu {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        padding-bottom: 60px;
        cursor: pointer;
        transition: all .3s;

        .dots {
            position: absolute;
            width: 25px;
            height: 25px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            transition: 2s;

            span {
                display: block;
                height: 4px;
                width: 4px;
                background: #da571f;
                margin: 1.5px;
                transition: 0.4s;
                
            }

            &:hover {
            
                span:nth-child(2n) {
                    opacity: 0;
                }
            }
            
        }

        &.active {
            
            .dots{
                transform:  rotate(90deg);
                
                span:nth-child(2n) {
                    opacity: 0;
                }
            }
        }
    }

    @media screen and (max-width: 768px){
        
        width: 100vw;
        height: 120px;
        flex-direction: row;
        align-items: center;
        
        .logo {
            height: 50px;
            padding: 40px;

            img {
                width: 100%;
            }

        }

        .name{

            svg  {
                width: 64px;
                height: 224px;
                transform: rotate(90deg);

                path{

                    stroke-width: 4px;
                }
            }
        }

        .menu{
            padding: 40px;
        }
    }

    @media screen and (max-width: 768px){

        .name{

            display: none;
        }

    }
}


.nav_hub{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-120%);
    height: 100vh;
    width: calc(100% - 120px);
    margin-left: 120px;
    background: #da571f;
    overflow: hidden;
    visibility: hidden;
    z-index: 4;
    transition: 0.8s;

    &.active {
        transform: translateX(0%);
        visibility: visible;
    }
    
    .bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: .2;
        z-index: -1;
        
        svg  {
            width: 1000px;
            height: 1000px;
            
            path {
                fill: none;
                stroke: #d71921;
                stroke-width: 2px;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-left: 50px;
        
        li{
            margin-bottom: 16px;
            
            a {
                color: #fff;
                font-size: 80px;
                font-weight: 600;
                line-height: 1;
                text-transform: uppercase;
            }
        }
    }

    @media screen and (max-width: 768px){
        
        transform: translateY(-120%);
        height: calc(100% - 120px);
        width: 100%;
        margin-left: 0;
        margin-top: 120px;

        &.active {
            transform: translateY(0%);
        }
    }

    @media screen and (max-width: 768px){

        ul{
            margin-left: 40px;

            li{
                
                a{
                    font-size: 72px;
                }
            }
        }
    }
}


.main{
    margin-left: 120px;
    width: calc(100% - 120px);
    background: #151514;
    color: #ffffff;

    
    @media screen and (max-width: 768px){
        
        margin-left: 0px;
        width: 100%;
    }
}


.banner{
    background-position: 50%;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #151514;
        opacity: 0.6;
        z-index: 1;
    }

    .video {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
    
    .banner-text {
        position: absolute;
        left: 60px;
        top: 64%;
        transform: translateY(-64%);
        width: 550px;
        max-width: 90%;
        color: #ffffff;
        z-index: 2;

        h1{
            font-size: 112px;
        }

        p{
            margin: 0;
        }
        
        .play-btn{
            margin-top: 30px;
            cursor: pointer;
            display: inline-block;
        
            svg{
                transition: 0.4s;
                width: 80px;
        
                path, polygon{
                    
                    fill: none;
                    stroke: #da571f;
                    stroke-width: 2px;
                }
            }
        
            &:hover{
        
                svg{
                    transform: rotate(90deg);
        
                    path{
                        fill: #da571f;
                    }
        
                    polygon{
                        stroke: #fff;
                        fill: #fff;
                        transform: translateY(100%) rotate(-88deg);
                    }
                }
            }
        }
    }
    
    @media screen and (max-width: 768px) {
            
        height: calc(100vh - 120px);
        margin-top: 120px;

        .banner-text{
            
            top: 80%;
            transform: translateY(-80%);

            h1{
                font-size: 92px;
            }
        }
    }
    
    @media screen and (max-width: 480px) {

        .banner-text{
            
            left: 8%;
            width: 80%;

            // h1{
            //     font-size: 92px;
            // }
        }
    }

    @media screen and (max-width: 360px){
        
       .banner-text h1 {
            font-size: 82px;
        }
    }
}


.services_wrapper{

    .service{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding: 60px;
        padding-right: 0;

        .text {
            max-width: 50%;
            width: 624px;

            .count {
                margin-bottom: 15px;

                span{
                    opacity: .5;

                    &.large{
                        -webkit-text-stroke-width: 0.3px;
                        -webkit-text-stroke-color: #da571f;
                        -webkit-text-fill-color: transparent;
                        font-size: 32px;
                        opacity: 1;
                    }
                }
            }

            h2{
                text-transform: uppercase;
            }
        }

        .video {
            background-color: transparent;
            height: 100%;
            overflow: hidden;
            text-align: right;
            width: 50%;

            video {
                height: 100%;
            }

        }

        @media screen and (max-width: 480px) {

            height: 100%;
            padding: 30px 40px;
            
            &:first-child{
                padding-top: 80px;
            }
            
            &:last-child{
                padding-bottom: 80px;
            }
            
            .text {
                max-width: 100%;
                width: 100%;
            }

            .video {
                margin-top: 36px;
                width: 100%;

                img{
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                }
            }
        }
    }
}


.gallery{
    background-color: #ffffff;
    padding: 80px 0px;

    h2{
        color: #151514;
        text-align: center;
    }

    .gallery_wrapper{
        margin-top: 60px;

        .flex-wrap{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .image{
                height: 400px;
                overflow: hidden;
                margin: 12px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.4s  ease-in-out;
                }

                &:hover{

                    img{
                        scale: 1.1;
                    }
                }

                &:first-child{
                    margin-left: 0;
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }
        
        .flex3{

            .image{
                width: calc(100% * 1/3 - 16px);

                @media screen and (max-width: 480px) {
                    width: calc(100% );
                    margin: 0 ;
                    padding: 16px;
                    
                }
            }
        }

        .flex2{

            .image{
                width:  calc(50% - 16px);
                height: 420px;

                @media screen and (max-width: 480px) {
                    width: calc(100% );
                    margin: 0 ;
                    padding: 16px;
                }
            }
        }
    }

    .swiper {
        margin-top: 40px;

        .swiper-slider{
            .swiper-slide {
                width: 48% !important;

                &:nth-child(2n) {
                    width: 40% !important;
                }

                &:nth-child(3n) {
                    width: 32% !important;
                }

                .image{
                    width: 100%;
                    height: 480px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}


.app_link{
    background-color: #da571f;
    padding: 80px;
    padding-right: 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    position: relative;

    .desc {
        max-width: 38%;
        width: 480px;

        h2{
            span{
                -webkit-text-fill-color: transparent;
                background: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#151514));
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }

    .images{
        width: 60%;
        height: 100%;
        overflow: hidden;
        text-align: right;

        .stacked{
            position: relative;
            width: 80%;
            height: 100%;
            
            img{
                position: absolute;
                top: -4%;
                width: 100%;
                height: 100%;

                &:first-child{
                    left: -8%;
                    top: 4%;
                    z-index: 1;
                }

                &:last-child{
                    left: 32%;
                }
            }
        }
    }

    @media screen and (max-width: 480px){
       padding: 60px 32px;
       height: 100%;

       .desc{

            max-width: 100%;
            width: 100%;
       }

       .images{

            max-width: 100%;
            width: 100%;
            height: 520px;

            .stacked{

                img{
                    scale: 1.1;
                }
            }
       }
    }
}


.contact{
    display: flex;
    justify-content: space-around;
    padding: 60px;

    .info {
        display: flex;
        width: 30%;

        .icon{
            width: 20%;
                img{
                height: 40px;
                width: 40px;
            }
        }

        .detail {
            width: 80%;

            p {
                line-height: 1;
                margin: 0 0 8px;
            }

            a{
                color: inherit;
            }
        }
    }
}


.privacy_policy{
    padding: 60px;
    
    h3 {
        font-size: 52px;
        font-weight: 600;
        margin: 0 0 20px;
    }

    p {
        margin: 0;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 28px;
        font-weight: 600;
        margin: 50px 0 10px;
    }

    ul{
        list-style: circle;
        padding-left: 30px;
        
        li {
            font-size: 24px;
            line-height: 1.5;
            position: relative;

            a {
                color: #fff;
            }
        }
    }

    @media screen and (max-width: 480px) {
        
        padding: 60px 40px;
    }
}






form{
    padding: 240px 120px;
    color: #151514;
}